html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.swiper-pagination-bullet-active {
  background-color: #0a253b !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] + label {
  color: gray;
  transition: background-color 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

input[type="checkbox"]:checked + label {
  color: white;
  animation-duration: 1s;
  background-color: #1fc1c3;
}
